<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div class="header-left">
        <div class="header-logo">✈</div>
        <h1>Путешествуй с нами</h1>
    </div>

    <div class="header-right">
        <button class="nav-btn rev">Отзывы</button>
        <button class="nav-btn myTicket">Мои билеты</button>
        <button class="nav-btn office">Офис</button>

        <div class="notification-wrapper">
            <span class="notification-bell">🔔</span>
        </div>

        <button class="logout-btn exit">Выход</button>
    </div>
</header>
</body>
</html>