<div class="mytb-container">
    <table class="mytb-table">
        <thead>
        <tr class="mytb-tr">
            <th class="mytb-th">Откуда</th>
            <th class="mytb-th">Куда</th>
            <th class="mytb-th">Тип транспорта</th>
            <th class="mytb-th">Дата поездки</th>
        </tr>
        </thead>
        <tbody>
        <tr class="mytb-tr">
            <td class="mytb-td"></td>
            <td class="mytb-td"></td>
            <td class="mytb-td"></td>
            <td class="mytb-td"></td>
        </tr>
        </tbody>
    </table>
</div>