



    <div class="containerByReviews">

        <div class="btn-group">
            <button class="btn all" onclick=" reviews('all',0)">Все отзывы</button>
            <button class="btn my" onclick=" reviews('my',0)">Мои отзывы</button>
        </div>

        <div class="message" style="display: none"></div>

        <div class="reviews-container">

        </div>
        <div class="pagination"></div>

        <div class="form-block">
            <h3>Написать отзыв</h3>
            <textarea placeholder="Ваш отзыв..." class="textrev" maxlength="490"></textarea>
            <button class="submit-btn" onclick="saveRev()">Отправить</button>
        </div>

    </div>


